*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Gabarito', sans-serif;
}
.navbar{
    padding: 10px;
    justify-content: space-between;
    display:flex;
    border-bottom: solid black 1px;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbars1__title
{
color: blueviolet;
}
.navbars2
{
    
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    
} 
.navbars2 input
{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbars2 input:focus{
    outline: none;
}
.navbars3{
    display: flex;
    gap:10px;
    align-items: center;
}
.navbars4{
    display:none ;
}
/* my learning*/
.mylearning{
    position: relative;
    cursor: pointer;

}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    top: 100%;
    padding: 20px;
    right:0;
    display: none;

}
.mylearning:hover .mylearning__popup{
    display: block;
}
.catogories
{
 padding: 5px;  
 justify-content:space-between; 
 display: flex;
 border-radius: 30px;
 
}
.catogories p{
    background-color: purple;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: solid purple 1px;


}
.catogories p:hover{
    transition: 1s;
    background-color: transparent;
    color:black;
    border: solid purple 1px;
}
.sale-image{
    position: relative;
}
.sale-image img{ 
    width:100%;

}
.sale-image-offer{
    width: 35%;
    border: solid black 2px;
    background-color: white;
padding: 2%;
position: absolute;
top: 20%;
left: 10%;
animation-name: zoom;   
animation-duration: 2s; 
opacity: 0;
animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;

    }

}
.recommented{
    padding: 10px;
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}
.course-card img{
    width: 100%;
    height: 50%;
}
.recommented__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.topics
{
    padding: 20px;
} 
.topics-container
{

    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap:10px;
}
.topics-container p{
    flex-grow: 1;
    border: solid gray 2px;
    padding: 10px;
    flex-basis: 25%;
}
.popular
{
    padding: 10px;
}
.popular-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 10px;
    background-color: black;
    color: white;
    border-top: 10px;
}
.footer__one{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.footer__one p
{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
/* media queries */
@media screen and (max-width:800px)
{
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px){

    .course-card{
        flex-basis: 40%;

    }
    .catogories{
        display: none;
    }
    .navbars2,.navbars3{
        display: none;
    }
    .navbars4{
        display: block;
    }
}